.calculator {
    width: 200px;
    margin: 50px auto;
    text-align: center;
}

#display {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.buttons button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
}

.buttons button:nth-child(4n) {
    margin-right: 0;
}

.buttons button:nth-child(n+14) {
    background-color: #ff9900;
}

.buttons button:last-child {
    background-color: #ff3300;
}
